<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/common/reset.css" type="text/css">
    <link rel="stylesheet" href="../../css/views/research.css" type="text/css">
</head>
<body>
<div>
    <div class="memberBox">
        <div class="title">2018年成果</div>
        <div class="text">
            <p>&nbsp;&nbsp;2018年文章</p><!--空格-->
            1. Ruya Cao, Hongcen Yang, XiaolongDeng, Shouwei Zhang* & Xijin Xu*, In-situ synthesis of amorphous silversilicate/carbonate composites for selective visible-light photocatalyticdecomposition,
            <em>Scientific Reports, 2017, 7</em>, 15001. DOI:10.1038/s41598-017-15405-6.<!--样式-->
            <a href="http://blog.csdn.net/xyq286654901/article/details/72730012"  target="_blank"><!--链接-->
                <span>https://www.nature.com/articles/s41598-017-15405-6</span>
            </a>
            <br/><br/><!--换2行-->

            2.Weidong He, Zhifu Liang, Keyu Ji, Qingfeng Sun, Tianyou Zhai,Xijin Xu*, HierarchicalNi-Co-S@Ni-W-O core–shell nanosheet arrays on nickel foam for high-performanceasymmetric supercapacitors, Nano Research
            <a href="https://link.springer.com/article/10.1007/s12274-017-1757-2" target="_blank">
                <span>https://link.springer.com/article/10.1007/s12274-017-1757-2</span>
            </a>
            <br/><br/>

            3.Pengxiao Sun, Chenggang Wang, Weidong He, Peiyu Hou, and Xijin Xu*, One-step synthesis of 3Dnetwork-like NixCo1xMoO4 porous nanosheetsfor high performance battery-type hybrid supercapacitors, ACS Sustainable Chemistry &Engineering, 2017, 5 (11), 10139–10147. DOI: 10.1021/acssuschemeng.7b02143, PublicationDate (Web): September 14, 2017
            <a href="http://pubs.acs.org/doi/abs/10.1021/acssuschemeng.7b02143" target="_blank">
                <span>http://pubs.acs.org/doi/abs/10.1021/acssuschemeng.7b02143</span>
            </a>
            <br/><br/>

            4.Chenggang Wang, Kai Guo,Weidong He, Xiaolong Deng, Peiyu Hou, Fuwei Zhuge, Xijin Xu* and Tianyou Zhai*, HierarchicalCuCo2O4@nickel-cobalt hydroxides core/shellnanoarchitectures for high-performance hybrid supercapacitors, ScienceBulletin, 2017, 62(16), 1122-1131.Cover Figure.封面故事文章30 August 2017, Acceptedmanuscript available online: 16-AUG-2017, DOI information:10.1016/j.scib.2017.08.014,
            <a href="http://www.sciencedirect.com/science/article/pii/S2095927317304127" target="_blank">
                <span>http://www.sciencedirect.com/science/article/pii/S2095927317304127</span>
            </a>
            Cover story:
            https://www.journals.elsevier.com/science-bulletin/cover-stories/cuco2o4nickel-cobalt
            <br/><br/>


            5.Hongcen Yang, ShouweiZhang*, Ruya Cao, Xiaolong Deng, Zhipeng Li, XijinXu*, Constructing the novel ultrafine amorphousiron oxyhydroxide/g-C3N4 nanosheets heterojunctions forhighly improved photocatalytic performance, Scientific Reports 2017, 7, 8686.  DOI :10.1038/s41598-017-09283-1
            <a href="https://www.nature.com/articles/s41598-017-09283-1" target="_blank">
                <span>https://www.nature.com/articles/s41598-017-09283-1</span>
            </a>

            6.Weidong He, Chenggang Wang, Huiqiao Li, Xiaolong Deng, Xijin Xu* and Tianyou Zhai*, Ultrathin and porous Ni3S2/CoNi2S43D-network structure for superhigh energy density asymmetric supercapacitors, Advanced Energy Materials,2017, Vol 7 Issue 21, 1700983.
            <a href="https://doi.org/10.1002/aenm.201700983" target="_blank">
                <span>https://doi.org/10.1002/aenm.201700983</span>
            </a>
            http://onlinelibrary.wiley.com/doi/10.1002/aenm.201770117/full杂志封面
            <br/><br/>

            7.Weidong He, Chenggang Wang, Fuwei Zhuge, Xiaolong Deng, Xijin Xu*, Tianyou Zhai*, Flexibleand High Energy Density Asymmetrical Supercapacitors Based on Core/ShellConducting Polymer Nanowires/ Manganese Dioxide Nanoflakes, Nano Energy2017, 35, 242–250
            <a href="http://www.sciencedirect.com/science/article/pii/S2211285517301854" target="_blank">
                <span>http://www.sciencedirect.com/science/article/pii/S2211285517301854</span>
            </a>
            <br/><br/>

            8.E Zhou, Chenggang Wang, MinghuiShao, Xiaolong Deng,Xijin Xu*, MoO2Nanoparticles Grown on Carbon Fibers as Anode Materials for Lithium-ionBatteries, Ceramics International 43 (2017) pp. 760-765
            <a href="http://www.sciencedirect.com/science/article/pii/S0272884216317606" target="_blank">
                <span>http://www.sciencedirect.com/science/article/pii/S0272884216317606</span>
            </a>
            <br/><br/>

            9.Chenggang Wang, E Zhou,Weidong He, Xiaolong Deng, Jinzhao Huang, Meng Ding, Xianqi Wei, Xiaojing Liu, Xijin Xu*, NiCo2O4-Based SupercapacitorNanomaterials, Nanomaterials 2017, 7(2), 41. doi:10.3390/nano7020041
            <a href="http://www.mdpi.com/2079-4991/7/2/41" target="_blank">
                <span>http://www.mdpi.com/2079-4991/7/2/41</span>
            </a>
            <br/><br/>

            10.Kangqiang Liang, ChenggangWang, Xijin Xu*, Jiancai Leng, Hong Ma*,Capacitive and photocatalytic performance of Bi2S3nanostructures synthesized by solvothermal method, PhysicsLetters A 381 (2017) 652–657. Volume 381, Issue 6, 12 February 2017, Pages 652–657
            <a href="http://www.sciencedirect.com/science/article/pii/S0375960116319648" target="_blank">
                <span>http://www.sciencedirect.com/science/article/pii/S0375960116319648</span>
            </a>
            <br/><br/>

        </div>
    </div>

</div>
</body>
</html>