.content-nav ul{
    text-align: center;
    line-height: 40px;
}
.content-nav ul li{
    border-bottom: 1px solid #CCCCCC;
}
.content-nav ul li a:hover{
    cursor: pointer;
}

/*当前导航*/
.content-nav .now{
    border-left:6px solid #6F7476;
}

/*iframe*/
.memberBox{
    margin: 10px 20px;
    line-height: 20px;
    /*border-bottom: 1px dashed #DEDDDD;*/
}

.memberBox .title{
    padding: 20px;
    font-weight: normal;
    background-color: #F0EFED;
    /*border-bottom: 1px dashed #CCCCCC;*/
    text-align: center;
    color: #204C82;
    font-size: 20px;
    font-family:sans-serif;
}


/*图片*/
#galley {
    text-align: center;
    margin-top: 10px;
    padding: 0!important;
    border: 1px solid #F0EFED;
}
.pictures {
    width: 100%;
    list-style: none;
    max-width: 30rem;
    overflow: hidden;
    /*margin-right: 5%;*/
}
.pictures > li {
    float: left;
    display: inline-block;
    width: 30%;
    height: 30%;
    margin: 1.6%;
    overflow: hidden;
}

.pictures > li > img {
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

/*下载*/
.viewer-download {
    color: #fff;
    font-family: FontAwesome;
    font-size: .75rem;
    line-height: 1.5rem;
    text-align: center;
}

.viewer-download::before {
    content: "\f019";
}