.content-nav ul{
    text-align: center;
    line-height: 40px;
}
.content-nav ul li{
    border-bottom: 1px solid #CCCCCC;
}

/*当前导航*/
.content-nav .now{
    border-left:6px solid #6F7476;
}

/*iframe*/
.memberBox{
    margin: 10px 20px;
    line-height: 20px;
    border-bottom: 1px dashed #DEDDDD;
}

.memberBox .title{
    padding: 20px;
    font-weight: normal;
    background-color: #F0EFED;
    border-bottom: 1px dashed #CCCCCC;
    text-align: center;
    color: #204C82;
    font-size: 20px;
    font-family:sans-serif;
}


/*图片*/
.pictures {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 30rem;
}

.pictures > li {
    float: left;
    width: 33.3%;
    height: 33.3%;
    margin: 0 -1px -1px 0;
    border: 1px solid transparent;
    overflow: hidden;
}

.pictures > li > img {
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}