
.contentBox .title{
    font-size: 20px;
    font-family: sans-serif,Verdana,Arial;
    background-color: #F8F7F6;
    border-left:10px solid #13CE66;
    padding-left: 10px;
    padding-top: -10px;
    color: black;
}
.contentBox p span{
    font-weight: bold;
}