.container{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

/*头部*/
.logo{
    height: 100px;
}
.logo img{
    width: 100%;
    height: 100%;
}

/*导航*/
.navigation{
    height: 40px;
    line-height: 40px;
    background: -webkit-linear-gradient(#505050, #272727); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#505050, #272727); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#505050, #272727); /* Firefox 3.6 - 15 */
    background: linear-gradient(#505050, #272727); /* 标准的语法 */
    color: #ffffff;
    font-size: 1em;
    font-family: proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 0 20% 0 15%;
    border-bottom: 2px solid #6F7476;
}
.navigation ul{
    display: block;
}
.navigation ul li{
    display: inline;
    height: 100%;
    margin: 0 20px;
}
.navigation ul li:hover{
    cursor: pointer;
    color: #CCCCCC;
}
.navigation ul li a:link {color: #ffffff; text-decoration: none} /* 未访问的链接 */
.navigation ul li a:visited {color: #ffffff}	/* 已访问的链接 */
.navigation ul li a:hover {color: #CCCCCC}	/* 鼠标移动到链接上 */
.navigation ul li a:active {color: #CCCCCC}	/* 选定的链接，即鼠标按下去的时候不松开显示的状态 */

/*内容*/
.main{
    flex-grow: 1;
}
.contentBox{
    display: flex;
    display: -webkit-flex;
    fiex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 1% 20% 1% 15%;
    background-color: #F7F6F5;
}
.content-nav{
    width: 25%;
    margin-right: 20px;
    background-color: #ffffff;
    border: 1px solid #EBEAE8;
    border-radius: 5px;
    line-height: 30px;
    padding: 10px;
}
.content-text{
    width: 75%;
    background-color: #ffffff;
    border: 1px solid #EBEAE8;
    border-radius: 5px;
    line-height: 30px;
    padding: 10px;
}

/*底部*/
#footer{
    /*flex-grow: 1;*/
    height: 20px;
    line-height: 20px;
    border-top: 1px solid #E6E5E2;
    background-color: #F7F6F5;
    padding: 10px;
    text-align: center;
}