<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/common/reset.css" type="text/css">
    <link href="../../css/views/teamMember.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="memberBox">
        <h5>徐锡金</h5>
        <div class="img">
            <img src="../../imgs/views/teamMember/xuxigui.png">
        </div>
        <div class="text">
            姓名: 徐锡金  职称： 教授，博士生导师<br/>
            2002年本科毕业于山东师范大学物理系<br/>
            2007年博士毕业于中国科学院固体物理研究所<br/>
            2007-2011年间，先后在新加坡、日本及澳大利亚从事研究工作<br/>
            2011回到济南大学担任“先进功能材料与器件物理”研究团队的学科带头人<br/>
            2012年被授予“山东省泰山学者海外特聘专家”称号<br/>
            中国颗粒学会第二届青年理事会青年理事<br/>
            主要从事新型功能微纳材料在环境及能源方面的研究工作，内容涉及功能催化材料结构的构筑及在环境领域中的应用、
            微纳结构光电器件的构筑及其功能材料太阳能电池的研究、微纳复合材料的合成及其在锂离子电池、
            超级电容器等能源领域的应用及、电化学传感器件的组装及其气敏探测。已在ACS Nano，Adv. Funct. Mater.，
            Small等国际核心期刊上发表SCI论文50余篇，其中2篇论文选为封面文章，发表的论文共被SCI刊物引用1200次，H因子为16。
            授权中国专利5项。受邀编写英文专著章节两章。受邀成为Sensor Letters， Nano Reports期刊杂志的编辑，
            以及40余种国际知名刊物的仲裁评审人或者审稿人。获得山东省优秀科研成果奖三等奖一项。
        </div>
    </div>

    <div class="memberBox">
        <h5>徐锡金</h5>
        
        <div class="img">
            <img src="../../imgs/views/teamMember/xuxigui.png">
        </div>
        <div class="text">
            姓名: 徐锡金  职称： 教授，博士生导师<br/>
            2002年本科毕业于山东师范大学物理系<br/>
            2007年博士毕业于中国科学院固体物理研究所<br/>
            2007-2011年间，先后在新加坡、日本及澳大利亚从事研究工作<br/>
            2011回到济南大学担任“先进功能材料与器件物理”研究团队的学科带头人<br/>
            2012年被授予“山东省泰山学者海外特聘专家”称号<br/>
            中国颗粒学会第二届青年理事会青年理事<br/>
            主要从事新型功能微纳材料在环境及能源方面的研究工作，内容涉及功能催化材料结构的构筑及在环境领域中的应用、
            微纳结构光电器件的构筑及其功能材料太阳能电池的研究、微纳复合材料的合成及其在锂离子电池、
            超级电容器等能源领域的应用及、电化学传感器件的组装及其气敏探测。已在ACS Nano，Adv. Funct. Mater.，
            Small等国际核心期刊上发表SCI论文50余篇，其中2篇论文选为封面文章，发表的论文共被SCI刊物引用1200次，H因子为16。
            授权中国专利5项。受邀编写英文专著章节两章。受邀成为Sensor Letters， Nano Reports期刊杂志的编辑，
            以及40余种国际知名刊物的仲裁评审人或者审稿人。获得山东省优秀科研成果奖三等奖一项。
        </div>
    </div>

    <div class="memberBox">
        <h5>徐锡金</h5>
        <div class="img">
            <img src="../../imgs/views/teamMember/xuxigui.png">
        </div>
        <div class="text">
            姓名: 徐锡金  职称： 教授，博士生导师<br/>
            2002年本科毕业于山东师范大学物理系<br/>
            2007年博士毕业于中国科学院固体物理研究所<br/>
            2007-2011年间，先后在新加坡、日本及澳大利亚从事研究工作<br/>
            2011回到济南大学担任“先进功能材料与器件物理”研究团队的学科带头人<br/>
            2012年被授予“山东省泰山学者海外特聘专家”称号<br/>
            中国颗粒学会第二届青年理事会青年理事<br/>
            主要从事新型功能微纳材料在环境及能源方面的研究工作，内容涉及功能催化材料结构的构筑及在环境领域中的应用、
            微纳结构光电器件的构筑及其功能材料太阳能电池的研究、微纳复合材料的合成及其在锂离子电池、
            超级电容器等能源领域的应用及、电化学传感器件的组装及其气敏探测。已在ACS Nano，Adv. Funct. Mater.，
            Small等国际核心期刊上发表SCI论文50余篇，其中2篇论文选为封面文章，发表的论文共被SCI刊物引用1200次，H因子为16。
            授权中国专利5项。受邀编写英文专著章节两章。受邀成为Sensor Letters， Nano Reports期刊杂志的编辑，
            以及40余种国际知名刊物的仲裁评审人或者审稿人。获得山东省优秀科研成果奖三等奖一项。
        </div>
    </div>
</div>
</body>
</html>